###############
## Variables ##
###############
# Keys
set $mAlt Mod1
set $mSuper Mod4
set $mShift Shift
set $mCtrl Ctrl
set $kSuper 133

# Monitors
set $mon_1 primary
set $mon_2 "DVI-I-1"

# Workspaces
set $ws_1_misc 1:Misc
set $ws_2_web 2:Web
set $ws_3_term 3:Term
set $ws_4_ide 4:Code
set $ws_5_chat 5:Chat
set $ws_6_music 6:Music
set $ws_7 7:7
set $ws_8_stream 8:Stream
set $ws_9_settings 9:Settings
set $ws_0_monitor2 0:Monitor2

# Colors
set_from_resource $color_foreground i3wm.foreground #ffffff
set_from_resource $color_background i3wm.background #000000
set_from_resource $color_cursor i3wm.cursorColor #ffffff
set_from_resource $color_normal_black i3wm.color0 #000000
set_from_resource $color_bright_black i3wm.color8 #ffffff
set_from_resource $color_normal_red i3wm.color1 #000000
set_from_resource $color_bright_red i3wm.color9 #ffffff
set_from_resource $color_normal_green i3wm.color2 #000000
set_from_resource $color_bright_green i3wm.color10 #ffffff
set_from_resource $color_normal_yellow i3wm.color3 #000000
set_from_resource $color_bright_yellow i3wm.color11 #ffffff
set_from_resource $color_normal_blue i3wm.color4 #000000
set_from_resource $color_bright_blue i3wm.color12 #ffffff
set_from_resource $color_normal_magenta i3wm.color5 #000000
set_from_resource $color_bright_magenta i3wm.color13 #ffffff
set_from_resource $color_normal_cyan i3wm.color6 #000000
set_from_resource $color_bright_cyan i3wm.color14 #ffffff
set_from_resource $color_normal_white i3wm.color7 #000000
set_from_resource $color_bright_white i3wm.color15 #ffffff
set $color_transparent #00000000

##################
## Key bindings ##
##################
# Reload
bindsym $mSuper+$mShift+c reload
bindsym $mSuper+$mShift+r restart
bindsym $mSuper+$mShift+x exec xrdb ~/.Xresources

# Misc
bindsym $mSuper+space exec --no-startup-id sh ~/.scripts/kb-layout-toggle.sh
bindsym $mSuper+Escape exec --no-startup-id sh ~/.scripts/power-menu.sh
#bindsym $mSuper+L exec --no-startup-id sh ~/.scripts/lock.sh
bindsym $mSuper+L exec --no-startup-id blurlock

# Print screen
bindsym Print exec --no-startup-id i3-scrot
bindsym $mod+Print --release exec --no-startup-id i3-scrot -w
bindsym $mod+Shift+Print --release exec --no-startup-id i3-scrot -s

# Start and stop apps
#bindcode $kSuper --release exec --no-startup-id "rofi -combi-modi window,drun,ssh -modi combi -show combi"
bindcode $kSuper --release exec --no-startup-id "rofi -combi-modi window,drun,ssh,run -modi combi -show combi -run-shell-command '{terminal} -e \\" {cmd}; read -n 1 -s\\"'"
bindsym $mSuper+Return exec --no-startup-id i3-sensible-terminal
bindsym $mSuper+q kill

# Window selection
bindsym $mSuper+Left focus left
bindsym $mSuper+Down focus down
bindsym $mSuper+Up focus up
bindsym $mSuper+Right focus right

# Window layouts
bindsym $mSuper+f fullscreen toggle

#bindsym $mSuper+$mAlt+space split toggle
bindsym $mSuper+$mAlt+f floating toggle
bindsym $mSuper+$mAlt+s sticky toggle

# Move window
bindsym $mSuper+$mCtrl+Left move left
bindsym $mSuper+$mCtrl+Down move down
bindsym $mSuper+$mCtrl+Up move up
bindsym $mSuper+$mCtrl+Right move right

# Workspace selection
bindsym $mSuper+Tab workspace back_and_forth
bindsym $mSuper+1 workspace $ws_1_misc
bindsym $mSuper+2 workspace $ws_2_web
bindsym $mSuper+3 workspace $ws_3_term
bindsym $mSuper+4 workspace $ws_4_ide
bindsym $mSuper+5 workspace $ws_5_chat
bindsym $mSuper+6 workspace $ws_6_music
bindsym $mSuper+7 workspace $ws_7
bindsym $mSuper+8 workspace $ws_8_stream
bindsym $mSuper+9 workspace $ws_9_settings
bindsym $mSuper+0 workspace $ws_0_monitor2

# Move windows to workspace
bindsym $mSuper+$mCtrl+1 move container to workspace $ws_1_misc
bindsym $mSuper+$mCtrl+2 move container to workspace $ws_2_web
bindsym $mSuper+$mCtrl+3 move container to workspace $ws_3_term
bindsym $mSuper+$mCtrl+4 move container to workspace $ws_4_ide
bindsym $mSuper+$mCtrl+5 move container to workspace $ws_5_chat
bindsym $mSuper+$mCtrl+6 move container to workspace $ws_6_music
bindsym $mSuper+$mCtrl+7 move container to workspace $ws_7
bindsym $mSuper+$mCtrl+8 move container to workspace $ws_8_stream
bindsym $mSuper+$mCtrl+9 move container to workspace $ws_9_settings
bindsym $mSuper+$mCtrl+0 move container to workspace $ws_0_monitor2

# Resize window
bindsym $mSuper+$mAlt+Left resize shrink width 10 px or 10 ppt
bindsym $mSuper+$mAlt+Right resize grow width 10 px or 10 ppt
bindsym $mSuper+$mAlt+Up resize shrink height 10 px or 10 ppt
bindsym $mSuper+$mAlt+Down resize grow height 10 px or 10 ppt

# Function keys
bindsym XF86AudioRaiseVolume exec --no-startup-id pactl set-sink-volume 0 +10%
bindsym XF86AudioLowerVolume exec --no-startup-id pactl set-sink-volume 0 -10%
bindsym XF86AudioMute exec --no-startup-id pactl set-sink-mute 0 toggle

bindsym XF86AudioPlay exec --no-startup-id playerctl play
bindsym XF86AudioPause exec --no-startup-id playerctl pause
bindsym XF86AudioNext exec --no-startup-id playerctl next
bindsym XF86AudioPrev exec --no-startup-id playerctl previous

bindsym XF86MonBrightnessUp exec "xbacklight -inc 10; notify-send 'brightness up'"
bindsym XF86MonBrightnessDown exec "xbacklight -dec 10; notify-send 'brightness down'"

################
## Status Bar ##
################
bar {
	i3bar_command i3bar
  status_command i3status
  position bottom
  tray_output primary
  strip_workspace_numbers yes
  font pango:FiraCode 10
	bindsym button4 nop
	bindsym button5 nop
  colors {
    separator $color_foreground
    background $color_background
    statusline $color_foreground
    focused_workspace   $color_background $color_foreground $color_background
    active_workspace    $color_background $color_foreground $color_background
    inactive_workspace  $color_background $color_background $color_foreground
    urgent_workspace    $color_background $color_normal_red $color_foreground
  }
}

###################
## Look and feel ##
###################
# Font
font pango:FiraCode 10

# Borders
default_border pixel 2
default_floating_border pixel 2

# class                 border              backgr.             text                indicator           child_border
client.focused          $color_bright_green $color_normal_black $color_bright_green $color_bright_green $color_normal_green
client.focused_inactive $color_bright_blue  $color_normal_black $color_bright_blue  $color_bright_blue  $color_normal_blue
client.unfocused        $color_bright_black $color_normal_black $color_bright_black $color_bright_black $color_normal_black
client.urgent           $color_bright_red   $color_normal_black $color_bright_red   $color_bright_red   $color_normal_red
client.placeholder      $color_bright_black $color_normal_black $color_bright_black $color_bright_black $color_normal_black
client.background       $color_background

# Gaps
# smart_gaps on
# smart_borders on
gaps inner 14
gaps outer -2

##############
## Behavior ##
##############
focus_follows_mouse no
# focus_on_window_activation focus

assign [class="Google-chrome" instance="google-chrome"] $ws_2_web
assign [class="URxvt"] $ws_3_term
assign [class="code-oss"] $ws_4_ide
assign [class="jetbrains-.+"] $ws_4_ide
assign [class="discord"] $ws_5_chat
assign [class="skypeforlinux"] $ws_5_chat
assign [class="slack"] $ws_5_chat
assign [class="Spotify"] $ws_6_music
assign [class="obs"] $ws_8_stream
assign [class="Pavucontrol"] $ws_9_settings
assign [class="lxappearance"] $ws_9_settings
assign [class="nvidia-settings"] $ws_9_settings
assign [class="manjaro-settings-manager"] $ws_9_settings
assign [class=".*" window_type="normal"] $ws_1_misc

for_window [class=".*"] focus
#for_window [urgent=latest] focus

#for_window [class="[.]*"] floating disable
#for_window [class="Xdialog"] floating enable

workspace $ws_1_misc output $mon_1
workspace $ws_2_web output $mon_1
workspace $ws_3_term output $mon_1
workspace $ws_4_ide output $mon_1
workspace $ws_5_chat output $mon_1
workspace $ws_6_music output $mon_1
workspace $ws_7 output $mon_1
workspace $ws_8_stream output $mon_1
workspace $ws_9_settings output $mon_1
workspace $ws_0_monitor2 output $mon_2

#############
## Startup ##
#############
# Background manager + compton (would be nice to split those for clarity; not sure why manjaro starts it like this)
exec --no-startup-id nitrogen --restore; sleep 1; compton -b

# Daemons
exec --no-startup-id redshift # Night time color adjustment
exec --no-startup-id /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 # polkit is an application-level toolkit for defining and handling the policy that allows unprivileged processes to speak to privileged processes
exec --no-startup-id xfce4-power-manager # Power management

# Applets
exec --no-startup-id nm-applet # Network manager
exec --no-startup-id pamac-tray # Package manager
exec --no-startup-id pa-applet # Volume
exec --no-startup-id clipit # Clipbord history
# exec_always --no-startup-id sbxkb # Keyboard indicator (pretty shitty)
# exec --no-startup-id blueman-applet # Bluetooth

# ??
# exec_always --no-startup-id fix_xcursor
# exec_always --no-startup-id ff-theme-util

# Can we do this in rofi?
#bindsym $mod+z exec --no-startup-id morc_menu
