[user]
	name = Pier-Luc Michaud
	email = pluc.m@outlook.com
[core]
	editor = code --wait
	pager = "less -SN -# 5"
	autocrlf = input
[fetch]
	prune = true
[diff]
	tool = vscode
[difftool]
	prompt = false
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	tool = vscode
[mergetool]
	prompt = false
[mergetool "vscode"]
	cmd = code --wait $MERGED
[gc]
	auto = 0
[push]
	default = simple
[credential]
	helper = store --file ~/.git-credentials
