bindsym Mod4+Shift+c reload
bindsym Mod4+Shift+r restart

bindsym Mod4+esc i3-msg exit
bindsym Mod4+q kill

# bindsym Mod4+d exec --no-startup-id ~/.scripts/rofi-launch

# bindsym Mod4+Return exec --no-startup-id urxvt

bindsym Mod4+h focus left
bindsym Mod4+j focus down
bindsym Mod4+k focus up
bindsym Mod4+l focus right
bindsym Mod4+Left focus left
bindsym Mod4+Down focus down
bindsym Mod4+Up focus up
bindsym Mod4+Right focus right
#bindsym Mod4+space focus mode_toggle
bindsym Mod4+a focus parent

bindsym Mod4+Shift+h move left
bindsym Mod4+Shift+j move down
bindsym Mod4+Shift+k move up
bindsym Mod4+Shift+l move right
bindsym Mod4+Shift+Left move left
bindsym Mod4+Shift+Down move down
bindsym Mod4+Shift+Up move up
bindsym Mod4+Shift+Right move right

bindsym Mod4+BackSpace split toggle
bindsym Mod4+f fullscreen toggle
bindsym Mod4+Shift+space floating toggle

# bindsym XF86AudioRaiseVolume exec --no-startup-id pactl set-sink-volume 0 +10%
# bindsym XF86AudioLowerVolume exec --no-startup-id pactl set-sink-volume 0 -10%
# bindsym XF86AudioMute exec --no-startup-id pactl set-sink-mute 0 toggle
# bindsym XF86MonBrightnessUp exec --no-startup-id xbacklight -inc 20
# bindsym XF86MonBrightnessDown exec --no-startup-id xbacklight -dec 20
# bindsym Mod4+XF86MonBrightnessUp exec --no-startup-id xbacklight -set 100
# bindsym Mod4+XF86MonBrightnessDown exec --no-startup-id xbacklight -set 1

# bindsym XF86AudioPlay exec --no-startup-id playerctl play
# bindsym XF86AudioPause exec --no-startup-id playerctl pause
# bindsym XF86AudioNext exec --no-startup-id playerctl next
# bindsym XF86AudioPrev exec --no-startup-id playerctl previous

set $ws_misc 1:Misc
set $ws_chrome 2:Chrome
set $ws_kodi 3:Kodi

bindsym Mod4+1 workspace $ws_misc
bindsym Mod4+2 workspace $ws_chrome
bindsym Mod4+3 workspace $ws_kodi

assign [class="Google-chrome" instance="google-chrome"] $ws_chrome
assign [class="Kodi" instance="kodi"] $ws_chrome

